@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    html {
        @apply box-border;
    }

    body {
        @apply h-full tracking-wider antialiased;
    }

    #app, #__nuxt {
        @apply h-full;
    }

    #__layout {
        @apply h-screen;
    }

    *, *:before, *:after {
        box-sizing: inherit;
    }

    .bg-background {
        background-image: url('/public/background.jpg');
    }
}

html, body, #__nuxt {
    height: 100%;
    font-family: "Montserrat Light", sans-serif;
}
