@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  src: url("../fonts/Lato/Lato-Light.ttf");
  font-family: "Lato";
  font-weight: 300;
  font-style: normal;
}

@font-face {
  src: url("../fonts/Lato/Lato-LightItalic.ttf");
  font-family: "Lato";
  font-weight: 300;
  font-style: italic;
}

@font-face {
  src: url("../fonts/Lato/Lato-Regular.ttf");
  font-family: "Lato";
  font-weight: 400;
  font-style: normal;
}

@font-face {
  src: url("../fonts/Lato/Lato-Bold.ttf");
  font-family: "Lato";
  font-weight: 700;
  font-style: normal;
}

@font-face {
  src: url("../fonts/Lato/Lato-Italic.ttf");
  font-family: "Lato";
  font-weight: 400;
  font-style: italic;
}

@font-face {
  src: url("../fonts/Lato/Lato-BoldItalic.ttf");
  font-family: "Lato";
  font-weight: 700;
  font-style: italic;
}

@font-face {
  src: url("../fonts/Montserrat/Montserrat-VariableFont_wght.ttf");
  font-family: "Montserrat";
  font-weight: 300;
  font-style: normal;
}

@font-face {
  src: url("../fonts/Montserrat/Montserrat-Italic-VariableFont_wght.ttf");
  font-family: "Montserrat";
  font-weight: 300;
  font-style: italic;
}

@layer utilities {
    html {
        @apply box-border;
    }

    body {
        @apply h-full tracking-wider antialiased;
    }

    #app, #__nuxt {
        @apply h-full;
    }

    #__layout {
        @apply h-screen;
    }

    *, *:before, *:after {
        box-sizing: inherit;
    }

    .bg-background {
        background-image: url('/public/background.jpg');
    }
}

html, body, #__nuxt {
    height: 100%;
    font-family: "Lato", "Montserrat Light", sans-serif;
}
